{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Profile Page -->
    <section id="profile-page" class="details">
        <div class="profile-information">
            <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
            {% if not profile.image %}
                <p class="img"><img
                        src="https://thumbs.dreamstime.com/b/profile-picture-vector-perfect-social-media-other-web-use-125320533.jpg"
                        alt=""></p>
            {% else %}
                <p class="img"><img
                        src="{{ profile.image}}"
                        alt=""></p>


            {% endif %}
            <div class="actions">
                <a class="button" href="{% url 'edit profile' %}">Edit</a>
                <a class="button" href="{% url 'delete profile' %}">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}